html {
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(250, 250, 250, 0.6))
      no-repeat center center fixed,
    url("../resources/images/VacationBackground.jpg") no-repeat center center
      fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Helvetica, Sans-Serif;
  color: #023047;
  background: transparent;
}

.root {
  align-items: center;
}

.app {
  margin: auto;
  width: 50%;
}
.title {
  text-align: center;
}

.user-interaction {
  position: relative;
}

.user-input {
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.user-input input {
  width: 100%;
  background-color: #0d0f26;
  color: white;
  border: none;
  height: 3%;
  padding: 2%;
  flex-basis: 100%;
  border-radius: 100px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.buttons-container {
  overflow: auto;
  margin-bottom: 10%;
}

.generate-button {
  cursor: pointer;
  white-space: nowrap;
  background-color: #276f30;
  color: #cdad6c;
  border: none;
  border-radius: 100px;
  margin-top: 1%;
  padding: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  float: right;
}

.clear-button {
  margin-top: 20px;
  size: 5em;
  border: none;
  color: #cdad6c;
  background-color: transparent;
  text-decoration: underline;
  margin: 1%;
  float: left;
}

.loading {
  opacity: 0.7;
  cursor: default;
}

.gpt-response {
  background-color: grey;
  padding: 1%;
}
